@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

@function vwxxl($size, $viewport: 1440) {
  $rate: 100 / $viewport;
  @return $rate * $size * 1vw;
}

@function vwxl($size, $viewport: 1200) {
  $rate: 100 / $viewport;
  @return $rate * $size * 1vw;
}

@function vwlg($size, $viewport: 960) {
  $rate: 100 / $viewport;
  @return $rate * $size * 1vw;
}

@function vwsm($size, $viewport: 390) {
  $rate: 100 / $viewport;
  @return $rate * $size * 1vw;
}
